
  .calendar {
    font-family: 'Arial', sans-serif;
    width: 100%;
    margin-left: 10px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .monthChangerDiv{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header button {
    background-color: #4299e1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .day-label {
    width: 14.28%;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #4a5568;
  }
  
  .week {
    display: flex;
    justify-content: space-between;
  }
  
  .day {
    width: 15%;
    height: calc(100vh/9);
    text-align: center;
    transition: background-color 0.3s ease;
    border: 1px solid #cbd5e0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
  }
  
  .day:hover {
    background-color: #c2bcbc;
    color: #fff;
  }
  
  .day.selected {
    background-color: #c2bcbc;
    color: #fff;
  }
  
  .dayLabel.faded {
    color: #c2bcbc;
  }

  .home-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 80%;
}
