.dayEvents{
    width: 100%;
}

.addEvent{
    height: 100%;
    border: 1px solid #c2bcbc;
    cursor: pointer;
    border-radius: 5px;
    font-style: oblique;
}

.addEvent.faded{
    display: none;
}

.createButtonDiv{
    display: flex;
    justify-content: flex-end;
}