
.window {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .window-header {
    background-color: #f0f0f0;
    padding: 8px;
    text-align: right;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .window-content {
    padding: 16px;
  }
  